/* Fonts and icons */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7gyh5o');
	src:url('fonts/icomoon.eot?#iefix7gyh5o') format('embedded-opentype'),
		url('fonts/icomoon.woff?7gyh5o') format('woff'),
		url('fonts/icomoon.ttf?7gyh5o') format('truetype'),
		url('fonts/icomoon.svg?7gyh5o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	background: #59595C;
	color: #263A53;
	font-size: 100%;
	line-height: 1.25;
	font-weight: 300;
	font-family: sans-serif;
}

h1{
	letter-spacing: 3px;
	font-size: 75px;
}

p {
	width: 100%;
	height: 100%;
	background-color: black;
	font-size: 24px;
	border-radius: 5px;
	padding: 12px;
	border: double;
}

button {
    position: relative;
    border: solid;
	background-color: #59595C;
	color: #263A53;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
}

input[type=submit] {
	border: none;
	background-color: white;
	color: #263A53;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 18px;
	border-radius: 5px;	
}

input[type=number] {
	box-sizing: border-box;
	width: 25%;
	height: 3em;
	text-align: center;
	border: none;
}

.timer {
	display: inline-block;
	font-family: 'Orbitron', sans-serif;
	color: #00CC00;
	padding: 18px;
	margin: 32px;
	width: 60%;
	height: 2em;
}

#cover {

	position: relative;
	background: #67c2d4;
	color: #faf1e0;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.75;
	padding: 2em;
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
	clear: both;
}

#background {
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#social-icons {
	text-align: right;
}

#container {
	width: 100%;
	text-align: center;
}

#timer-wrapper{
	padding: 18px;
}

#home {
	text-align: center;
}

/* For button effects, from https://github.com/IanLunn/Hover */
.icon-linkedin:hover, .icon-github:hover, .icon-cover:hover{
	color: white;
	background-color: #263A53;
	border-radius: 50%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-linkedin{
	margin-right: 24px;
	content: "\eac8";
	cursor: pointer;
	color: #263A53;
	position: relative;
	z-index: 200;
	display: inline-block;
	overflow: hidden;
	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
	cursor: pointer;
	background-color: white;
	border: 2px solid #263A53;
}

.icon-linkedin::before {
	font-family: 'icomoon';
	content: "\eac8";
	speak: none;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github{
	margin-right: 24px;
	content: "\eab1";
	cursor: pointer;
	color: #263A53;
	position: relative;
	z-index: 200;
	display: inline-block;
	overflow: hidden;
	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
	cursor: pointer;
	border: 2px solid #263A53;
	background-color: white;
}


.icon-github::before{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	content: "\eab1";
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cover{
	margin-right: 24px;
	content: "\e976";
	cursor: pointer;
	color: #263A53;
	position: relative;
	z-index: 200;
	display: inline-block;
	overflow: hidden;
	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
	cursor: pointer;
	border: 2px solid #263A53;
	background-color: white;
}


.icon-cover::before{
	font-family: 'icomoon';
	content: "\e976";
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #263A53;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: #59595C;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
